<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Main Page</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
    </head>
    <body>
        <div class="bg-dark">
            <div class="container">
                <nav class="navbar navbar-expand navbar-dark bg-dark">
                    <a class="navbar-brand" href="#">Weather</a>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarsExample02"
                        aria-controls="navbarsExample02"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div
                        class="collapse navbar-collapse justify-content-center"
                        id="navbarsExample02"
                    >
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/country">Country</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/chack">Chack</a>
                            </li>

                            <% if (!username) { %>
                            <li class="nav-item">
                                <a class="nav-link" href="/login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/register"
                                    >Register</a
                                >
                            </li>
                            <% } else { %>
                            <li class="nav-item">
                                <a class="nav-link" href="/user"
                                    >Your Account</a
                                >
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Logout</a>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <h1>Welcome <%= username %>!</h1>

        <h3>Request History</h3>
        <ul class="list-group mt-4">
            <% historyData.forEach(entry => { %>
            <li class="list-group-item shadow-sm mb-3 bg-light">
                <% if (entry.requestType === 'weather') { %>
                <h5 class="text-primary mb-2">Weather Request</h5>
                <p class="mb-2">
                    For <%= entry.requestData.city %> at <%= entry.timestamp %>
                </p>
                <p class="mb-2">
                    Temperature: <%= entry.responseData.temperature %>°C,
                    Description: <%= entry.responseData.description %>
                </p>
                <p class="mb-2">
                    Humidity: <%= entry.responseData.humidity %>, Wind Speed:
                    <%= entry.responseData.windSpeed %>
                </p>

                <% } else if (entry.requestType === 'countrydata') { %>
                <h5 class="text-success mb-2">Country Data Request</h5>
                <p class="mb-2">
                    For <%= entry.requestData.countryName %> at <%=
                    entry.timestamp %>
                </p>

                <% } else if (entry.requestType === 'chucknorris') { %>
                <h5 class="text-danger mb-2">Chuck Norris Joke Request</h5>
                <p class="mb-2">At <%= entry.timestamp %></p>
                <p class="mb-2">Joke: <%= entry.responseData.joke %></p>
                <% } %>
            </li>
            <% }); %>
        </ul>

        <div class="container">
            <footer class="py-3 my-4">
                <p class="text-center text-muted">© Jeleubay Aslan, SE-2203</p>
            </footer>
        </div>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
